h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  color: #3eb5f1;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-family: sans-serif;
  color: aliceblue;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  width: 80vw;
  /* set the width to the full viewport width */
  height: 80vh;
  /* set the height to the full viewport height */
  display: flexbox;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
  color: gainsboro;
}

label {
  display: inline-block;
}

form>input[type="text"] {
  margin-right: 10px;
}

/* Post Table Stuff */
#post-table {
  border: 1px solid hotpink;
  width: calc(100%);
}

.post-element {
  margin: 5px;
  overflow-wrap: break-word;
  max-width: 200px;
}

.post-field {
  display: grid;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  flex-grow: 2;
}

.post-field-large {
  display: grid;
  align-items: center;
  justify-content: center;
  min-width: 22%;
  flex-grow: 3;
}

.post-field-tiny {
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  flex-grow: 1;
}

.post-table-head {
  background-color: rgb(46, 46, 46);
}

#form-submit-player {
  border: 1px solid hotpink;
  padding: 20px;
}

.input-grid {
  display: flex;
}

.spanner {
  flex-grow: 1;
}

#player-submit-button {
  margin-top: 2%;
  padding: 5px;
  width: calc(100% - 2em);
}


/* Phone specific styling */
@media only screen and (max-width: 1024px) {
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    width: 95vw;
    /* set the width to the full viewport width */
    height: 95vh;
    /* set the height to the full viewport height */
    display: flexbox;
    justify-content: center;
    align-items: center;
  }
}